:host{
    display: inline-flex;
    width: 20px;
    height: 20px;
  }
  /* :host { display:inline-flex; width: 100%; height: 100%; line-height: 0; } */
  svg{
    width: 100%;
    height: 100%;
    display: block;
  }
  